### pandas로 my_data.csv를 수정하여 저장하기

요구사항
1. Unnamed:0라고 표기되는 열을 지운다. 단 Unnamed:0라 쓰지말고 새롭게 컬럼 이름을 만들어서 지운다.
2. 0,1,2,3,4로 보여지는 index 부분을 지운다.
3. name에 해당되는 영문 이름을 한글로 바꾼다.
4. salary에 해당되는 숫자를 000 세자리 단위로 콤마를 넣어서 값을 바꿔 넣는다.
5. 1~4를 처리하고 나서 csv파일로 저장한다.

제출은 파이썬 파일 혹은 쥬피터 파일을 작성하여 업로드하면 된다.

---
### 1. `Unnamed: 0` 표시되는 열 삭제

- Unnamed:0 열은 데이터프레임에서 index를 나타내는 열이다.
- 데이터를 출력할 때 가끔 필요없으니 더 깔끔한 데이터 표시를 위해 Unnamed:0을 삭제해도 된다.

    > ref. 
    > 1. https://stackoverflow.com/questions/36519086/how-to-get-rid-of-unnamed-0-column-in-a-pandas-dataframe-read-in-from-csv-fil
    > 2. https://datagy.io/pandas-drop-index-column/
    > 3. https://good-coding.tistory.com/39
    > 4. https://blog.enterprisedna.co/pandas-drop-index/

In [728]:
import pandas as pd

In [729]:
csv_data = pd.read_csv('my_data.csv')
print(csv_data)

   Unnamed: 0     name  age  salary
0           0    Alice   25   50000
1           1      Bob   30   60000
2           2  Charlie   35   70000
3           3    james   30  400000
4           4    Alice   25   50000
5           5      Bob   30   60000
6           6  Charlie   35   70000
7           7    james   30  400000

#### Method 1 - 새로 이름을 변경하고 나서 열 삭제

In [730]:
# drop 함수 사용

csv_data.rename(columns = {'Unnamed: 0':'index'}, inplace = True)
csv_data.drop(['index'], axis=1, inplace=True)
csv_data
print(csv_data)

      name  age  salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    james   30  400000
4    Alice   25   50000
5      Bob   30   60000
6  Charlie   35   70000
7    james   30  400000

#### Method 2 - csv를 읽을 때 Unnamed: 0 컬럼을 index로 설정

In [731]:
# read_csv 함수 옵션 변경 (첫번째 column을 index로 사용)

csv_data = pd.read_csv('my_data.csv', index_col=0)
print(csv_data)

      name  age  salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    james   30  400000
4    Alice   25   50000
5      Bob   30   60000
6  Charlie   35   70000
7    james   30  400000

---
### 2. index 부분 지우기

- 0, 1, 2, 3, 4 index 열/부분 지운다.

In [732]:
print(csv_data)

      name  age  salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    james   30  400000
4    Alice   25   50000
5      Bob   30   60000
6  Charlie   35   70000
7    james   30  400000

In [733]:
# index를 다음 열(name)으로 설정
csv_data = csv_data.set_index(['name'])
print(csv_data)

         age  salary
name
Alice     25   50000
Bob       30   60000
Charlie   35   70000
james     30  400000
Alice     25   50000
Bob       30   60000
Charlie   35   70000
james     30  400000

In [734]:
print(csv_data.at['Bob', 'age'])

name
Bob    30
Bob    30
Name: age, dtype: int64

---
### 3. name에 해당되는 영문 이름을 한글로 변경

In [735]:
kor_names = {"Alice":"앨리스", 
             "Bob":"밥", 
             "Charlie":"찰리", 
             "james":"제임스"}

In [736]:
csv_data = csv_data.reset_index(level='name')
csv_data = csv_data.replace({'name': kor_names})
csv_data = csv_data.set_index('name')
print(csv_data)

      age  salary
name
앨리스    25   50000
밥      30   60000
찰리     35   70000
제임스    30  400000
앨리스    25   50000
밥      30   60000
찰리     35   70000
제임스    30  400000

---
### salary에 해당되는 숫자를 000 세자리 단위로 콤마를 넣어서 값을 바꿔 넣기

#### Method 1 - salary 숫자가 자리수가 변경되지 않을 경우

- list slicing 활용

In [737]:
csv_data['salary']

name
앨리스     50000
밥       60000
찰리      70000
제임스    400000
앨리스     50000
밥       60000
찰리      70000
제임스    400000
Name: salary, dtype: int64

In [738]:
new_salary = []

for item in csv_data['salary']:
    
    list_of_digits= list(str(item))[:-3]
    list_of_digits.append(',')
    
    new_item = ""

    for character in list_of_digits:
        new_item += str(character)
    new_item += "000"

    new_salary.append(new_item)

print(new_salary)

['50,000', '60,000', '70,000', '400,000', '50,000', '60,000', '70,000', '400,000']

In [739]:
csv_data['salary'] = new_salary
print(csv_data)

      age   salary
name
앨리스    25   50,000
밥      30   60,000
찰리     35   70,000
제임스    30  400,000
앨리스    25   50,000
밥      30   60,000
찰리     35   70,000
제임스    30  400,000

#### Method 2 - salary 숫자 자리수가 변경될 수 있는 경우

- `.format()` 사용

In [740]:
csv_data2 = pd.read_csv('my_data.csv', index_col=0)
csv_data2 = csv_data2.set_index(['name'])
print(csv_data2)

         age  salary
name
Alice     25   50000
Bob       30   60000
Charlie   35   70000
james     30  400000
Alice     25   50000
Bob       30   60000
Charlie   35   70000
james     30  400000

In [741]:
new_salary2 = []

for item in csv_data2['salary']:
    # separate with commas
    formatted = "{:,}".format(item)
    new_salary2.append(formatted)

print(new_salary2)

['50,000', '60,000', '70,000', '400,000', '50,000', '60,000', '70,000', '400,000']

In [742]:
csv_data2['salary'] = new_salary2
print(csv_data2)

         age   salary
name
Alice     25   50,000
Bob       30   60,000
Charlie   35   70,000
james     30  400,000
Alice     25   50,000
Bob       30   60,000
Charlie   35   70,000
james     30  400,000

In [743]:
csv_data = csv_data2

---
### 5. csv 파일로 저장

In [744]:
csv_data.to_csv('my_data_new.csv')